DerekThesis/*
Outline/*.pdf
Outline/*.aux
Outline/*.log
Outline/*.synctex.gz
Draft/*.pdf
Draft/*.aux
Draft/*.log
Draft/*.synctex.gz
notes.txt
PEARCpaper/*.aux
PEARCpaper/*.log
PEARCpaper/*.pdf
PEARCpaper/*.synctex.gz
PEARCpaper/*.out
PEARCpaper/*.bbl
PEARCpaper/*.blg
